@using ResourceLibrary
@model BussinessLogic.DTOs.EStore.EStoreCategoryDto.EditEStoreCategoryDto
@{
    ViewBag.Title = "AddEStore";
    Layout = "~/Views/Shared/_LayoutEStore.cshtml";
}

<h2>You can edit category of eStore.</h2>

<a href="#" onclick="history.go(-1)"> Go Back</a>

 @using (Html.BeginForm("EditEStoreCategoryWithModel", "EStore"))
    {
        @Html.ValidationSummary(true)
        <fieldset id="formFieldset">
            <legend><b>Edytuj wysyłkę</b></legend>
            <table id="formTable">
                <tr>
                    <td>@Html.LabelFor(model => model.Name)</td>
                    <td>@Html.EditorFor(model => model.Name)</td>
                    <td>@Html.ValidationMessageFor(model => model.Name)</td>
                </tr>

                <tr>
                    <td></td>
                    <td><input type="submit" class="button" value="@Resource.saveChanges" /></td>
                    <td></td>
                </tr>
            </table>
             @*@Html.ValidationMessage("AddEStore")*@
        </fieldset>
    }
